{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}


{% block body %}
	<body id="dash-body" style="background-color:black">
		<h3 class="text-center mt-3" style=" background: -webkit-linear-gradient(#eee, #333);
																				  									 -webkit-background-clip: text;
																				  									 -webkit-text-fill-color: transparent;">
			Hello
			{{ name }}!
		</h3>

		<div class="mt-5 row d-flex justify-content-center" id="search-form">

		<div id="search-term" onchange="getSearchTerm(event);"class="col-2 ">
			<select class="form-select">
				<option value="Please Select an option to search by">Search By...</option>
				<option value="inauthor">Author</option>
				<option value="intitle">Title</option>
				<option value="isbn">ISBN</option>
			</select>
		</div>
		<div class="col-6">
			<input id="search-value" class="form-control"></input>
			<a href="top"></a>
		</div>
		<div class="col-2">
			<button type="submit" onclick="getBooks()" class="button-30  " value="" style="height:40px;"/>Search</button>
		</div>
	</body>
</div>
<div class="mt-5">
	<p class="text-center sub-text" style="font-size: 22px;
		background: -webkit-linear-gradient(#eee, #333);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;">
		Add to your library, and you will add to your
		<i>world</i>...
	</p>
</div>
<div id="book-wrapper">
   
</div>
<div id="pagination-div" class="row pagination-div" hidden>
	<div class="col-6">
	    <button id="previous-page" type="button" onclick="pagination('previous')" class="button-30 text-center " value="" style="height:40px;"/>Previous</button>
	</div>
	<div class="col-6">
	    <button id="next-page" type="button" onclick="pagination('next')" class="button-30  text-center" value="" style="height:40px;"/>Next</button>
	</div>
</div>
<div id="dash-footer">
	<svg width="100%" height="100%" id="svg" viewbox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
		<defs>
			<linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
				<stop offset="5%" stop-color="#0693e3"></stop>
				<stop offset="95%" stop-color="#ff6900"></stop>
			</linearGradient>
		</defs>
		<path d="M 0,400 C 0,400 0,80 0,80 C 69.731212233321,87.62801825132568 139.462424466642,95.25603650265137 187,101 C 234.537575533358,106.74396349734863 259.881514366753,110.6038722407202 311,101 C 362.118485633247,91.3961277592798 439.01151806634607,68.32847453446787 497,70 C 554.9884819336539,71.67152546553213 594.0724133678629,98.08222962140832 645,100 C 695.9275866321371,101.91777037859168 758.6988284622024,79.34260697989887 807,80 C 855.3011715377976,80.65739302010113 889.1322727833272,104.54734245899617 938,105 C 986.8677272166728,105.45265754100383 1050.7720804044889,82.46802318411642 1113,70 C 1175.2279195955111,57.53197681588359 1235.7794055987176,55.58056480453817 1290,59 C 1344.2205944012824,62.41943519546183 1392.110297200641,71.20971759773091 1440,80 C 1440,80 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.265" class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
		<defs>
			<linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
				<stop offset="5%" stop-color="#0693e3"></stop>
				<stop offset="95%" stop-color="#ff6900"></stop>
			</linearGradient>
		</defs>
		<path d="M 0,400 C 0,400 0,160 0,160 C 51.81541497101986,160.9389073868541 103.63082994203972,161.87781477370822 154,171 C 204.36917005796028,180.12218522629178 253.292095202861,197.42764829202122 303,187 C 352.707904797139,176.57235170797878 403.20078924651625,138.41159205820694 467,138 C 530.7992107534837,137.58840794179306 607.904747811074,174.92598347515107 654,176 C 700.095252188926,177.07401652484893 715.1802195091873,141.8844740411888 770,142 C 824.8197804908127,142.1155259588112 919.3743741521766,177.53612036009372 988,185 C 1056.6256258478234,192.46387963990628 1099.3222838821064,171.97104451843634 1136,167 C 1172.6777161178936,162.02895548156366 1203.336490319398,172.57970156616105 1253,174 C 1302.663509680602,175.42029843383895 1371.331754840301,167.7101492169195 1440,160 C 1440,160 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
		<defs>
			<linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
				<stop offset="5%" stop-color="#0693e3"></stop>
				<stop offset="95%" stop-color="#ff6900"></stop>
			</linearGradient>
		</defs>
		<path d="M 0,400 C 0,400 0,240 0,240 C 42.10161548896288,231.81260328030584 84.20323097792576,223.62520656061164 134,218 C 183.79676902207424,212.37479343938836 241.28869157725984,209.3117770378592 298,214 C 354.71130842274016,218.6882229621408 410.64200271303486,231.1276852879516 461,232 C 511.35799728696514,232.8723147120484 556.1432975706006,222.1774818103342 613,215 C 669.8567024293994,207.8225181896658 738.7848070045628,204.16238747071154 793,211 C 847.2151929954372,217.83761252928846 886.7174744111481,235.1729683068196 942,246 C 997.2825255888519,256.8270316931804 1068.3452953508447,261.1457393020101 1129,256 C 1189.6547046491553,250.8542606979899 1239.901344185473,236.24407448513998 1290,232 C 1340.098655814527,227.75592551486002 1390.0493279072634,233.87796275743 1440,240 C 1440,240 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-2"></path>
		<defs>
			<linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
				<stop offset="5%" stop-color="#0693e3"></stop>
				<stop offset="95%" stop-color="#ff6900"></stop>
			</linearGradient>
		</defs>
		<path d="M 0,400 C 0,400 0,320 0,320 C 67.56685164631891,309.83593538044147 135.13370329263782,299.671870760883 186,301 C 236.86629670736218,302.328129239117 271.0320384757677,315.14845233690954 326,319 C 380.9679615242323,322.85154766309046 456.73814280429156,317.73431989147866 505,320 C 553.2618571957084,322.26568010852134 574.0153903070662,331.914268097176 617,327 C 659.9846096929338,322.085731902824 725.2002959674436,302.6086077198175 781,300 C 836.7997040325564,297.3913922801825 883.1834258231594,311.6513010235541 944,310 C 1004.8165741768406,308.3486989764459 1080.0660007399188,290.78618818596624 1142,294 C 1203.9339992600812,297.21381181403376 1252.5525712171661,321.2039462325811 1300,329 C 1347.4474287828339,336.7960537674189 1393.723714391417,328.39802688370946 1440,320 C 1440,320 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-3"></path>
	</svg>
</div>
<script src="{{ asset('assets/api.js') }}">
</body>{% endblock %}
