{% extends 'base.html.twig' %}

{% block head %}{% endblock %}


{% block title %}
{% endblock %}
{% block body %}
<body style="background-color:black;">
	

		<div id="blobs" class="container">

			<div class="tk-blob" style="position:absolute;  --time: 30s; --amount: 2; width:900px;--fill: #93807d;">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 418.7 325.5">
					<path d="M363.8 52.4c42.8 41.3 68 108.8 47.9 153.5-20.1 44.8-85.6 66.7-143 87.4-57.4 20.8-106.8 40.3-156.7 28.7C62 310.4 11.5 267.7 1.8 217.7c-9.7-49.9 21.5-107 61.5-147.6C103.2 29.5 152 5.3 206.4.8c54.5-4.6 114.7 10.4 157.4 51.6z"></path>
				</svg>
			</div>


			<div class="tk-blob" style="position:absolute;  --time: 30s; --amount: 2; width:700px; --fill: #56cbb9;">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 747.2 726.7">
					<path d="M539.8 137.6c98.3 69 183.5 124 203 198.4 19.3 74.4-27.1 168.2-93.8 245-66.8 76.8-153.8 136.6-254.2 144.9-100.6 8.2-214.7-35.1-292.7-122.5S-18.1 384.1 7.4 259.8C33 135.6 126.3 19 228.5 2.2c102.1-16.8 213.2 66.3 311.3 135.4z"></path>
				</svg>
			</div>


			<div class="tk-blob" style="position:absolute;  --time: 20s; --amount: 2; width:600px;--fill: #607d8b;">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 412.3 354.7">
					<path d="M320.8 58.4c47.1 38.8 97.8 95 90.8 143s-71.7 87.7-138.3 117.2c-66.5 29.5-134.7 48.7-186.4 26.5C35.3 322.9.3 259.3 0 203.3-.3 147.4 34.1 99.2 71 62.8 107.9 26.3 147.2 1.7 188.7.1c41.4-1.7 84.9 19.6 132.1 58.3z"></path>
				</svg>
			</div>


			<div class="tk-blob" style="position:absolute; --time: 20s; --amount: 2; width:350px;--fill: #ffc107;">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 428.4 394.6">
					<path d="M369.4 109.2c43.2 55.3 71.5 121.4 53.4 167.3-18.2 45.8-82.8 71.4-140.5 91.7-57.8 20.4-108.7 35.4-152.9 20.3C85.1 373.4 47.6 328.3 23.2 267c-24.5-61.2-35.8-138.6-2.5-191.7C54.1 22.2 132-6.6 200 1.3c68 7.9 126.1 52.5 169.4 107.9z"></path>
				</svg>
			</div>

			<div class="tk-blob" style=" position:absolute; :--time: 40s; --amount: 2; width:250px;--fill: #f44336;">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 341.4 374.7">
					<path d="M309.9 70.6c37.8 52.7 39.8 128.7 15.4 184.1-24.3 55.4-75 90.1-125.4 107.4-50.4 17.4-100.4 17.4-136.2-3.3-35.7-20.7-57.2-62-62.4-102.1-5.2-40.2 5.8-79 29.1-128.3C53.6 79.1 89.1 19.3 143.7 4.1 198.3-11.2 272 18 309.9 70.6z"></path>
				</svg>
			</div>

		</div>


		<div class="container" id="form-container">
		<h3 class="mb-5 d-flex justify-content-center fw-bold">LOGIN</h3>

			<sub style="color:red;">{{ message}}</sub>
			{{ form_start(form) }}
			{{ form_widget(form) }}

			<input type="submit" class="button-30 mb-2 w-50" value="Login" /><br/>
			<sub class=""mb-1>Not Registered?</sub><br/>
			<a type="button" href="register" class="button-30" value="" />Register</a>
			{{ form_end(form) }}

		</div>


	</body>
{% endblock %}
